config.py

__pycache__/**
.idea/**

dissertation/**
!dissertation/dissertation.tex
!dissertation/dissertation.bib

geoxml3/**
null_lat_long.txt
results/**
spatialml_identified_locations_highest_pop/**
spatialml_identified_locations_random/**
spatialml_original
spatialml_raw/**
spatialml_simple/**
spatialml_simple_locations_pickled/**
test.py
test_urls~
2tags
